[pullall "list"]
	black=master,rama,otra
	white=prueba

[diffarchive]
	route=/home/oscar/Escritorio/
[changesarchive]
	route=/home/oscar/Escritorio/
[remotes "list"]
	black=otro,otro2,origin
	white=visual
